{"openapi":"3.0.1","info":{"title":"API Reference","version":"2024-09-02","description":"APIs to build new integrations with Moveworks. Our base URL is api.moveworks.ai.","contact":{"email":"support_developers@moveworks.ai"}},"servers":[{"url":"https://api.moveworks.ai"},{"url":"https://api-demo.moveworks.ai"},{"url":"https://api.am-eu-central.moveworks.ai"},{"url":"https://api.am-ca-central.moveworks.ai"},{"url":"https://api.moveworksgov.ai"}],"paths":{"/rest/v1/events/{event_id}/messages/send":{"post":{"tags":["Events"],"summary":"Send a message for an event","description":"Send a message to a list of recipients for an event. The event must be defined in the Events Workspace.\n","operationId":"sendMessageForEvent","parameters":[{"name":"event_id","in":"path","description":"ID of the event to notify for","required":true,"schema":{"type":"string","format":"uuid"}}],"requestBody":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/SendMessageForEventRequest"}}},"required":true},"responses":{"200":{"description":"Successfully scheduled","content":{"application/json":{"schema":{"$ref":"#/components/schemas/MessageScheduled"}}}},"400":{"description":"Bad Request","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ErrorBadRequest"}}}},"401":{"description":"Unauthenticated","content":{"application/json":{"schema":{"oneOf":[{"$ref":"#/components/schemas/ErrorAuthentication"},{"$ref":"#/components/schemas/OauthErrorAuthenticationInvalidToken"},{"$ref":"#/components/schemas/OauthErrorAuthenticationExpiredToken"}]}}}},"403":{"description":"Unauthorized","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ErrorAuthorization"}}}},"404":{"description":"Event not found","content":{"application/json":{"schema":{"type":"object","properties":{"code":{"type":"string","example":"EVENT_NOT_FOUND"},"message":{"type":"string","example":"Could not find event by ID: 123"}}}}}},"429":{"description":"Rate Limit Exceeded","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ErrorRateLimitExceeded"}}}}},"x-codegen-request-body-name":"body","security":[{"Bearer":[]}]}},"/oauth/v1/token":{"post":{"tags":["Authentication"],"summary":"Create an OAuth token","description":"Generate an Access Token using OAuth 2.0 Client Credentials for authentication in subsequent API calls to other endpoints. See [Credentials Management - OAuth 2.0 Client](/reference/get-api-keys) for more info.\n","operationId":"createOAuthToken","requestBody":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/OauthTokenRequest"}},"application/x-www-form-urlencoded":{"schema":{"$ref":"#/components/schemas/OauthTokenRequest"}}},"required":true},"responses":{"200":{"description":"Token created","content":{"application/json":{"schema":{"$ref":"#/components/schemas/OauthTokenGenerated"}}}},"400":{"description":"Bad Request","content":{"application/json":{"schema":{"oneOf":[{"$ref":"#/components/schemas/OauthInvalidRequest"},{"$ref":"#/components/schemas/OauthUnsupportedGrantType"}]}}}},"401":{"description":"Unauthenticated","content":{"application/json":{"schema":{"$ref":"#/components/schemas/OauthInvalidClient"}}}},"429":{"description":"Rate Limit Exceeded","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ErrorRateLimitExceeded"}}}},"500":{"description":"Internal Server Error","content":{"application/json":{"schema":{"$ref":"#/components/schemas/InternalServerError"}}}}},"x-codegen-request-body-name":"body"}},"/rest/v1/auth/test":{"get":{"tags":["Authentication"],"summary":"Test API Key","operationId":"testAuth","responses":{"200":{"description":"Successfully tested","content":{"application/json":{"schema":{"$ref":"#/components/schemas/AuthSuccessful"}}}},"401":{"description":"Unauthenticated","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ErrorAuthentication"}}}}},"x-codegen-request-body-name":"body","security":[{"Bearer":[]}]}},"/rest/v1/messages/send":{"post":{"tags":["Deprecated"],"summary":"[Deprecated] Send a message","description":"Send a message to users. This endpoint is deprecated, but existing integrations will continue to work.\n","operationId":"sendMessage","requestBody":{"description":"Object containing all the data needed to send a message to a list of recipients","content":{"application/json":{"schema":{"$ref":"#/components/schemas/SendMessageRequest"}}},"required":true},"responses":{"204":{"description":"Successfully scheduled"},"400":{"description":"Bad Request","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ErrorBadRequest"}}}},"401":{"description":"Unauthenticated","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ErrorAuthentication"}}}},"403":{"description":"Unauthorized","content":{"application/json":{"schema":{"oneOf":[{"$ref":"#/components/schemas/ErrorAuthentication"},{"$ref":"#/components/schemas/OauthErrorAuthenticationInvalidToken"},{"$ref":"#/components/schemas/OauthErrorAuthenticationExpiredToken"}]}}}},"429":{"description":"Rate Limit Exceeded","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ErrorRateLimitExceeded"}}}}},"x-codegen-request-body-name":"body","security":[{"Bearer":[]}]}}},"components":{"schemas":{"User":{"properties":{"first_name":{"type":"string","description":"The first name of the user","example":"John"},"last_name":{"type":"string","description":"The last name of the user","example":"Doe"},"email_addr":{"type":"string","format":"email","description":"The Email address of the user","example":"user@domain.com"},"role":{"type":"string","description":"The role of the user"},"department":{"type":"string","description":"The department to which the user belongs"},"manager_email":{"type":"string","format":"email","description":"The manager's email address for the user"},"custom_data":{"type":"object","description":"A field for custom attributes. This can be used to store any additional information about the user.","example":"custom_data.{INSERT-ATTRIBUTE-NAME}"}}},"SendMessageForEventRequest":{"required":["message","recipients"],"type":"object","properties":{"message":{"type":"string","description":"Message to be sent, formatted in Moveworks' version of HTML. Moveworks attempts to shorten valid links to fit within chat platform constraints. Consult your chat platform API documentation to understand actual character limits.","example":"This is a rich message that supports <b>bold</b> and <i>italics</i>.<br><br> Did I mention, we also support:<br><ul><li>Lists</li><li><a href=\"https://moveworks.com\">Links</a></li><li>and just about <a href=\"https://www.webfx.com/tools/emoji-cheat-sheet/\"> any emoji you want </a>:fire:</li></ul>","minLength":1,"maxLength":20000},"recipients":{"type":"array","description":"Email addresses of the employees to send the message to","example":["email@email.com"],"items":{"type":"string"},"minItems":1,"maxItems":500},"context":{"type":"object","description":"Additional contextual data","properties":{"slots":{"type":"object","description":"Contextual slots","example":{"property1":"some_data"}}}}}},"SendMessageRequest":{"required":["message","recipients"],"type":"object","properties":{"message":{"type":"string","description":"Message to be sent, formatted in Moveworks' version of HTML. Moveworks attempts to shorten valid links to fit within chat platform constraints. Consult your chat platform API documentation to understand actual character limits.","example":"This is a rich message that supports <b>bold</b> and <i>italics</i>.<br><br> Did I mention, we also support:<br><ul><li>Lists</li><li><a href=\"https://moveworks.com\">Links</a></li><li>and just about <a href=\"https://www.webfx.com/tools/emoji-cheat-sheet/\"> any emoji you want </a>:fire:</li></ul>","minLength":1,"maxLength":20000},"recipients":{"type":"array","description":"Email addresses of the employees to send the message to","example":["email@email.com"],"items":{"type":"string"},"minItems":1,"maxItems":500}}},"MessageScheduled":{"type":"object","properties":{"data":{"type":"object","properties":{"status":{"type":"string","enum":["RECEIVED"]}}}}},"AuthSuccessful":{"type":"object","properties":{"Message":{"type":"string","example":"Auth tested successfully"}}},"ErrorBadRequest":{"type":"object","properties":{"code":{"type":"string","example":"INVALID_VALUE_SIZE_TOO_SHORT"},"message":{"type":"string","example":"Expected `message` field to be of min size: 1"}}},"ErrorAuthentication":{"type":"object","properties":{"code":{"type":"string","example":"UNAUTHORIZED"},"message":{"type":"string","example":"Token validation failed"}}},"ErrorAuthorization":{"type":"object","properties":{"code":{"type":"string","example":"REQUEST_ACCESS_DENIED"},"message":{"type":"string","example":"Cannot send message to ['executive@moveworks.ai'] with permission: dev"}}},"ErrorRateLimitExceeded":{"type":"object","properties":{"code":{"type":"string","example":"RATE_LIMIT_EXCEEDED"},"message":{"type":"string","example":"Reached rate limit for api : /rest/v1/messages/send"}}},"OauthTokenRequest":{"required":["client_id","client_secret","grant_type"],"type":"object","properties":{"client_id":{"type":"string","description":"The client's unique identifier; acquired during the creation of credentials in Events Workspace.","example":"15d8db87-9a06-4d5d-8e22-0b4e6c6c30a7"},"client_secret":{"type":"string","description":"The client's secret key; acquired during the creation of credentials in Events Workspace.","example":"mws_ygD73mHVN9tgrScyFQZ8HIQRq9fNniNtuSuXMlt4wqu3E9Jit8wOoUVWLWblyUVDtW6lMz2QS6GTZqupMFD7RaiS8BucVVDH766b"},"grant_type":{"type":"string","description":"Specifies the type of grant being used for the token request. This should be set to \\\"client_credentials\\\".","example":"client_credentials"}}},"OauthTokenGenerated":{"type":"object","properties":{"data":{"type":"object","properties":{"access_token":{"type":"string","example":"mwt_QqPa4KogjF09IGKlAdiMfjlV36WiDebyKJURCv38lMTp1ay4fEX6CVJYZpwPZi0HIag8bKlM7x2SfWde1t6Fp3BTnjiTWaF4NDTI"},"expires_in":{"type":"integer","example":3600},"token_type":{"type":"string","example":"Bearer"}}}}},"OauthInvalidRequest":{"type":"object","properties":{"code":{"type":"string","example":"INVALID_REQUEST"},"message":{"type":"string","example":"The request is missing the required 'client_id' parameter; Please include the 'client_id' parameter in your request"}}},"OauthUnsupportedGrantType":{"type":"object","properties":{"code":{"type":"string","example":"UNSUPPORTED_GRANT_TYPE"},"message":{"type":"string","example":"Grant type not supported: 'authorization_code'; Please use a supported grant type ['client_credentials']"}}},"OauthInvalidClient":{"type":"object","properties":{"code":{"type":"string","example":"INVALID_CLIENT"},"message":{"type":"string","example":"Client authentication failed due to invalid credentials; Please verify your client credentials and try again"}}},"InternalServerError":{"type":"object","properties":{"code":{"type":"string","example":"INTERNAL_SERVER_ERROR"},"message":{"type":"string","example":"Internal Server Error. Please try again."}}},"OauthErrorAuthenticationInvalidToken":{"type":"object","properties":{"code":{"type":"string","example":"Unauthorized"},"message":{"type":"string","example":"The access token is invalid; Please verify your access token and try again"}}},"OauthErrorAuthenticationExpiredToken":{"type":"object","properties":{"code":{"type":"string","example":"UNAUTHORIZED"},"message":{"type":"string","example":"The access token has expired; Please generate a new access token and try again"}}}},"securitySchemes":{"Bearer":{"type":"http","scheme":"bearer"}}},"x-readme":{"explorer-enabled":true,"proxy-enabled":true}}